*bak
tags
test_argparse
*.[ao]
*.dylib
*.so
*rdb
*swp
bin/
goArgParser
OUTPUT/
*pyc
.project
diag/app/pkg/
log/
arch_*/
images/
diag/util/jtag/jtag_cpurd
diag/util/cpld/cpld_program
diag/util/spi/spi_acc
diag/util/mdio/mdio_acc
asic_repo/
*bin
*jed
*csv
test_logs
*xlsx
*DS_Store
*txt
