#####################################################################
#
# HOW TO USE THIS:
#
#  Define the matrix in this file.
#  Then run `generate_job_yml.py` with python3.
#  It should create the required .job.ymls and target directories
#  Dont forget to commit the new .job.ymls and jobs.cfg
#
#  Notes:
#    Lines starting with '#' are ignored.
#
#####################################################################


# Stages to test			asic	hardware	nic_type
#####################################################################

DL	P2C	4C	SWI				elba	ortano-ti	ortano-ti-orc
DL	P2C	4C	SWI				elba	ortano-adi	ortano-adi-orc
DL	P2C	4C	SWI				elba	ortano-interp	ortano-interp-orc
DL	P2C	4C	SWI				elba	ortano-solo	ortano-solo-orc
#DL	P2C	4C	SWI				elba	ortano-solo	ortano-solo-orc_th
DL	P2C	4C	SWI				elba	ortano-adicr	ortano-adicr-orc

#DL	P2C	4C	SWI				elba	ortano-ti	ortano-ti-msft
#DL	P2C	4C	SWI				elba	ortano-adi	ortano-adi-msft
#DL	P2C	4C	SWI				elba	ortano-solo	ortano-solo-msft
#DL	P2C	4C	SWI				elba	ortano-adicr	ortano-adicr-msft

#DL	P2C	4C	SWI				elba	ortano-adi	ortano-adi-ibm

#DL	P2C	4C	SWI				elba	ortano-solo	ortano-solo-s4
#DL	P2C	4C	SWI				elba	ortano-adicr	ortano-adicr-s4

DL	P2C	4C	SWI				elba	monterey	monterey

DL	P2C	4C	SWI				giglio	ginestra	ginestra

