#####################################################################
#
# HOW TO USE THIS:
#
#  Define the matrix in this file.
#  Then run `generate_job_yml.py` with python3.
#  It should create the required .job.ymls and target directories
#  Dont forget to commit the new .job.ymls and jobs.cfg
#
#  Notes:
#    Lines starting with '#' are ignored.
#
#####################################################################


# Stages to test			asic	hardware	nic_type
#####################################################################

4C	SWI				elba	elba	ortano-solo	ortano-solo-orc
4C	SWI				elba	elba	ortano-adicr	ortano-adicr-orc
4C	SWI				elba	elba	ortano-solo	ortano-solo-msft
4C	SWI				elba	elba	ortano-adicr	ortano-adicr-msft
4C	SWI				elba	elba	ortano-adi	ortano-adi-ibm
4C	SWI				elba	elba	ortano-solo	ortano-solo-s4
4C	SWI				elba	elba	ortano-adicr	ortano-adicr-s4

4C	SWI				elba	giglio	ginestra	ginestra

4C	SWI				matera	salina	pollara	pollara
4C	SWI				matera	salina	leni64	leni64
